/* General Styling */


.dashboard-container {
  max-width: 1500px;
  margin: 60px auto;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  background-color: #ffffff;
  
}

/* Layout for the entire dashboard */
.dashboard-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* Profile Column */
.profile-column {
  width: 35%; /* 40% width for the first column */
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative; /* To position the edit icon */
}

/* Profile Container */
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: #f9f9f9;
  position: relative;
}

/* Profile Image */
/* Profile photo container */
.profile-photo-container {
  position: relative;
  display: inline-block;
  
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  
}

/* Profile photo */
.profile-photo {
  background-color: #033672;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  transition: opacity 0.3s ease;
}

/* Upload button styling */
.upload-btn {
  position: absolute;
  bottom: 4px;
  right: 10px;
  background: #033672; /* Gradient from top to bottom */
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  opacity: 0; /* Initially hide */
  transition: opacity 0.3s ease;
}

.upload-btn:hover {
  background: #033672;}

/* Show upload button when hovering over the profile container */
.profile-photo-container:hover .upload-btn {
  opacity: 1;
}


/* Profile Name */
.profile-name {
  margin: 10px 0;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

/* Edit Icon */
.edit-icon {
  cursor: pointer;
  font-size: 20px;
  background-color: #cd1719;
  padding: 10px;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 10; /* Ensure icon is above profile container */
}

.edit-icon:hover {
  color: #fff;
  background-color: #921517;
}

/* Personal Details */
.personal-details {
  width: 100%;
}

.detail-item {
  margin-bottom: 14px; /* Space between fields */
}

.detail-item  label {
  display: block;
  font-size: 16px;
  margin-bottom:8px;
  font-weight: bold;
  color: #333;

}

.detail-item  input {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #cecccc;
  border-radius: 10px;
  margin-bottom: 5px;
}

input:disabled {
  background-color: #f4f4f4; /* Disabled fields */
}

input:not(:disabled) {
  background-color: #fff; /* Normal editable fields */
}
.detail-item select {
  width: 100%; /* Full width */
  padding: 8px; /* Space inside */
  font-size: 16px; /* Readable text */
  border: 1px solid #ccc; /* Light border */
  border-radius: 5px; /* Slightly rounded corners */
  background-color: #fff; /* White background */
  cursor: pointer; /* Pointer on hover */
  transition: all 0.3s ease;
}

/* Add these styles to your Dashboard.css */
.detail-item.row {
  display: flex;
  align-items: flex-start;  /* Align labels and inputs to the top */
  gap: 20px; /* Adds space between the columns */
}

.detail-item.row .half-width {
  width: 45%;  /* Ensure each input takes up half the row */
}

.detail-item.row label {
  display: block;
  margin-bottom: 5px;  /* Space between label and input */
}



/* Professional Details Section */
.professional-container {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.professional-details {
  display: flex;
  flex-direction: column;
}

.professional-details p {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}

/* Second Column - Event Details */
.events-column {
  width: 65%; /* 60% width for the second column */
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.events-heading-container {
  border-bottom: 1px solid #cdcdce;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.events-heading-container  .btn-go-mainSite{
  background-color: #033672;
  padding: 10px 20px;
  color: white;
  border-radius: 25px;
  margin-bottom: 10px;
  font-weight: bold;

}
.events-heading-container .btn-go-mainSite:hover{
  background: #062141;
}
.events-column h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.events-column ul {
  list-style-type: none;
  padding: 0;
}

.events-column ul li {
  padding: 5px 0;
  font-size: 18px;
}

.events-column p {
  font-size: 16px;
  color: #888;
}

.notification-bell {
  cursor: pointer;
  font-size: 30px;
  color: #333;
  transition: color 0.3s;
}

.notification-bell:hover {
  color: #cd1719; /* Change color when hovered */
}

/* Other event-related styles */
.event-category-bar {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
.event-category-bar .event-list-item{
  font-size: 16px;
  padding: 10px 0px;
  border-radius: 30px;
}
/* Logout Button Styling */
.logout-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  display: flex;
  background-color: #cd1719;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.logout-icon{
  margin: 3px 0px 3px 3px;
  margin-left: 8px;
}

.logout-button:hover {
  background-color: #921517;
}



/* Toast container styles */
.Toastify__toast-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
}



.event-list {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  gap: 1rem;
  padding: 1rem 0;
}

/* Event Tile */
.event-tile {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  gap: 1rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
}
.event-info-container{
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}

/* Event Title */
.event-tile h4 {
  font-size: 20px;
  color: #033672; /* Adjusted for better visibility */
  margin-bottom: 0.5rem;
}

/* Banner Section */
.event-banner {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 8px;
  flex: 0.8;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Event Content */
.event-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  

}

.event-expert,
.event-date-time {
  font-size: 16px;
  color: #333232;
}

.event-expert .expert-name{
  font-style: italic;
}

.event-description {
  font-size: 16px;
  color: #444;
}

/* Footer Section */
.event-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.event-footer span {
  font-size: 16px;
  color: #333232;
}

/* Action Buttons Section */
.event-buttons-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
  
}
.event-buttons-container .btn-watch-webinar{
  background: #007bff;
}
.event-buttons-container .btn-watch-webinar:hover{
  background: #0056b3;
}

.event-list button.btn-preview {
  background: #007bff;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  margin-right: 0.5rem;
  cursor: pointer;
}


.event-list button.btn-preview:hover {
  background: #0056b3;
}

.event-list button {
  background: #28a745;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  flex: 1;
}

.event-list button:hover {
  background: #218838;
}

.event-list .btn-registered {
  background-color: #cd1719; /* Red color for registered button */
  cursor: not-allowed;
}

.event-list .btn-registered:hover {
  background-color: #cd1719; /* Red stays the same on hover */
  cursor: not-allowed;
}



/* Styling for Event Category Heading */
.events-heading h3 {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 2px solid #cdcdce; /* Blue border at the bottom of the heading */
}

/* Styling for Event Category Bar */
.event-category-bar {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding: 20px 0;
}

.event-category-bar button {
  background-color: transparent;
  border: 2px solid #033672; /* Blue border */
  color: #033672; /* Blue text color */
  font-size: 14px;
  padding: 5px 5px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 20px;
  transition: background-color 0.3s, color 0.3s;
  flex: 1;
}

.event-category-bar button:hover {
  background-color: #033672; /* Blue background on hover */
  color: white; /* White text on hover */
}

.event-category-bar button.active {
  background-color: #033672; /* Blue background when selected */
  color: white; /* White text when selected */
}



.dashboard-welcome-container {
  padding: 20px;
  background-color: #f4f4f4;
}





/* Custom Toast styles for success and error 
.Toastify__toast--success {
  background-color: #4caf50; 
  color: white;
  border-radius: 8px;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
}

.Toastify__toast--error {
  background-color: #f44336; 
  color: white;
  border-radius: 8px;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
}

.Toastify__toast-body {
  display: flex;
  align-items: center;
}

.Toastify__toast-icon {
  font-size: 20px;
  margin-right: 10px;
}

.Toastify__toast--success .Toastify__toast-icon {
  color: white;
}

.Toastify__toast--error .Toastify__toast-icon {
  color: white;
}

*/
/* Media Queries for responsiveness */
@media screen and (max-width: 768px) {
  .dashboard-row {
    flex-direction: column;
    gap: 20px;
  }

  .profile-column {
    width: 100%;
  }

  .events-column {
    width: 100%;
  }
  .dashboard-container{
    padding: 0px 20px;
  }
  .event-footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .event-tile{
    flex-direction: column;
  }
  .event-category-bar button {
    
    font-size: 14px;
    padding: 5px 5px;
    cursor: pointer;

  }
  .event-category-bar {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 20px 0;
  }
}

.typing-effect {
  font-size: 30px;
  color: #333;
  display: block;
}

.line {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: .15em solid #033672;
  animation: typing 3s steps(30) 1, blinkCaret 0.75s step-end infinite, erase 3s steps(30) 4s forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes erase {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes blinkCaret {
  50% {
    border-color: transparent;
  }
}



