/* App Layout */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap');
.app-container {
  display: flex;
  height: 100vh;
  font-family: "Roboto", serif;
}

.main-content {
  margin-left: 250px; /* Space for the collapsed sidebar */
  width: calc(100% - 60px); /* Remaining space for content */
  overflow-y: auto;
}

